openai==0.28.1
chromadb==0.4.15
langchain==0.0.323
pymongo==4.6.0
pytrends==4.9.2
googlesearch-python==1.2.3
pandas==1.5.3
streamlit==1.27.0
langchain==0.0.271
beautifulsoup4==4.11.2
faiss-cpu==1.7.4
tqdm==4.65.0
requests==2.31.0
openai==0.27.7
tiktoken==0.3.1
feedparser==6.0.10
dateparser==1.1.8
google-api-core==2.12.0
google-api-python-client==2.103.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
googleapis-common-protos==1.61.0
newspaper3k==0.2.8
nltk==3.8.1 
